# Updated 3/29/2012

# Project files
*.suo

# ReSharper meta output
_ReSharper.Baka MPlayer/

# Debug output
Baka MPlayer/bin/Debug/Baka MPlayer*
Baka MPlayer/bin/Debug/*.ttf

# Release output
Baka MPlayer/bin/Release/